#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

div.container {
	padding-top: 10px;
}

footer.container {
	text-align: center;
	height: 40px;
	background: #1b1b1b;
	padding-top: 20px;
	font-weight: bold;
	width: 100%;
	color: #B9B9B9;
}

.active {
	color: #FFFFFF !important;
}
ul.dark-list {
	background-color: #1b1b1b;
	padding: 10px;
}
div.dark-bg {
	background-color: #1b1b1b;
}
.link {
  cursor: pointer;
  color: #B9B9B9;
  text-decoration: none;
}
.title-link {
	color: #0088cc;
	font-size: 1.2em;
}
.link:hover {
	text-decoration: none;
	background-color: #0088cc;
}
body {
	background-color: #53535E !important;	
}
.pad-sm {
	padding-right: 5px;
	padding-left: 5px;
}
.pad-lg {
	padding-right: 10px;
	padding-left: 10px;
}
#content {
	padding-top: 60px;
	padding-bottom: 50px;
}
.active {
	background-color: #034566;
}
span.light-text {color: #BDBDBD;}
.centered-box {
	width: 30%;
	background-color: #B4B4B4;
	padding: 20px;
	margin: auto;
}