<script type="text/x-handlebars" data-template-name="main">
<!--  Navigation bar -->
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<a class="brand" href="#">&nbsp NEHP Worldwide Tracker</a>
		<ul class="nav">
			<li class="active">{{#linkTo 'main'}}Home{{/linkTo}}</li>
			<li>{{#linkTo 'main.summary'}}Status{{/linkTo}}</li>
		</ul>
		<ul class="nav pull-right">
			<li>
				{{#if auth.signedIn}} 
					{{#linkTo 'main.user'}}{{user}}{{/linkTo}}
				{{else}} 
					{{#linkTo 'main.login'}}Login{{/linkTo}}
				{{/if}}
			</li>
		</ul>
	</div>
</div>
<!-- /Navigation Bar -->

<!-- Content -->
<div class="container">
	<section id="main">
		<!--  Page Contents from Ember -->
		{{#if auth.signedIn}}
			{{outlet}}
		{{else}}
			<span>Please {{#linkTo 'main.login'}}Login{{/linkTo}}</span>
		{{/if}}
	</section>
</div>
<!-- /Content -->
</script>