<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<ul class="nav nav-inverse dark-list">
				{{#link-to 'list' 'modeling' tagName='li' classNames='link'}}Modeling{{/link-to}}
				{{#link-to 'list' 'material' tagName='li' classNames='link'}}Material Kitting{{/link-to}}
				{{#link-to 'list' 'manufacturing' tagName='li' classNames='link'}}Manufacturing{{/link-to}}
				{{#link-to 'list' 'mfr-completed' tagName='li' classNames='link'}}Manufacturing Completed{{/link-to}}
				{{#link-to 'list' 'shipped' tagName='li' classNames='link'}}Shipped{{/link-to}}
				{{#link-to 'list' 'arrival' tagName='li' classNames='link'}}Arrival{{/link-to}}
				{{#link-to 'list' 'installed' tagName='li' classNames='link'}}Installed{{/link-to}}
				<li class="divider"></li>
				<li class="nav-header">Stopped</li>
				{{#link-to 'list' 'stopped' tagName='li' classNames='link'}}All{{/link-to}}
			</ul>
		</div>
		<div class="span10">
			{{outlet}}
		</div>
	</div>
</div>