<div class="notifications">
	<div class="title">
		<span class="light-title">Notifications</span>
	</div>
	<div class="content">
		{{#each}}
			<div class="notification">
				<ul>
					<li class="header">Date:{{date}} &nbsp By:{{created_by}}</li>
					<li class="title">{{title}}</li>
					<li class="message">{{message}}</li>
				</ul>
			</div>
		{{/each}}
	</div>
</div>