<div class="centered-box">
	<form {{action 'reset' on="submit"}}>
		<fieldset>
			<legend>Please verify your email address to reset your password</legend>
			<label>Email<br>{{input type='text' value=email required="required"}}</label>
			<label>{{input type='submit' value="Reset Password"}}</label>
		</fieldset>
	</form>
</div>
