<div class="centered-box">
	<form {{action 'create' on="submit"}}>
		<fieldset>
			<legend>Create Notification</legend>
			<label>Title<br>{{input type='text' valueBinding='title' placeholder="Enter the title here..." required="required" }}</label>
			<label>Message<br>{{textarea valueBinding='message' cols='70' rows='5' placeholder="Enter the message here..." required="required" }}</label>
			<label>{{input type='submit' value="Create"}}</label>
		</fieldset>
	</form>
</div>